*{
    margin: 0;
    padding: 0;
    color: #000;
  
}

.container{
    display:grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 4fr 0.2fr;
    grid-template-areas: 
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar footer footer footer";
    text-transform: capitalize;
    align-content: center;
    justify-content: center;
}
.nav{
    background-color: aqua;
    grid-area: nav;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 80vw;
    background:rgb(121, 112, 112);
}
.sidebar{
    padding-top: 40px;
    padding-left: 20px;
    align-items: flex-start;
    background:whitesmoke;
    grid-area: sidebar;
    row-gap: 10px;
    width: 20vw;

    
}


footer{
 
        grid-area: footer;
     
        background: #000;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;
    
        color: white;
        
     
}
header{
    background:black;
    display: grid;
    grid-template-columns: 1fr  0.1fr;
    align-items: center;

}
img{
    margin-top: 10px;
    margin-left: 10px;
    width: 45px;
    height:45px ;
    border-radius: 50px;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color:#FFA500;
    align-items: center;
  }
 ul button{
    width:100px;
 
    background-color: #FFA500;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    transition: 0.9s;
} 
ul li a:hover {
    font-size: large;
    background-color: #000;
    color: #FFA500;
}
 li{
  list-style: none;
  font-weight: bold;
  font: size 32px; 
  font-style: normal;
 }
 .sidebar{
 
    display: flex;
    flex-direction: column;
    align-self: center;
    background: white;
    grid-area: sidebar;
  
    flex-wrap: wrap;
    
}
.sidebar div{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.sidebar div:hover{
    background:rgba(192, 188, 188, 0.5);

}
.active{
    color: #FFA500;
  }
 a{
    text-decoration: none;
 }
 

 .form{
    padding:20px 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    margin: 0 auto;
    width: 50%;
   
 }
 label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
  }
  input[type="text"], textarea {
    
    padding: 10px 0;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
   
  }
  input[type="text"]:hover, textarea:hover {
    border: 1px solid orange;
  }
  
  input[type="submit"] {
    background-color:#FFA500;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
 }

  input[type="submit"]:hover {
    background-color: black;
    color:#FFA500
  }
  input[type="text"]:focus, textarea:focus {
    border-color: rgb(0, 0, 0);
  }
  .blogscreated
   {
   margin: 0 auto ;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-bottom: 10px;;
   }
  article{
    box-sizing: border-box;
    margin-top: 10px;;
    width: 100%;
    background-color: #f4f4f4;
    display: flex;
    grid-template-columns: 1fr 0.5fr;
    flex-direction: row;
    border-radius: 10px;;
    height: 35px;;
    padding: 0 20px;
  }
  
  .blogdiv{
  width:100%;
  align-self: center;
   
  }
  .fontas{
    
    display: flex;
    align-self: center;
    justify-content: space-between;
  
  }
  .fontas button{
    background-color:#FFA500;
    color:black;
    justify-self:end;
    display: flex;
    margin-left: 10px;
    padding :  7px 15px;
    border: none;
    height: 25px;;
   border-radius: 5px;;
  }
 ul li  button {

    margin-top: 10px;

    height: 30px;
    border-radius: 10px;
    border: none;
    transition: 0.9ms;
}
 ul li button:hover
{
color: #FFA500; 
background: #000;     


}
@media only screen  and (max-width :600px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr ;
        grid-template-areas: 
        "nav"
        "sidebar "
        "main"
        "content1"
        "content2"
        "content3"
        "footer";
    }
     
}